.field {                                   
    padding: 550 400;                                                                           
    margin: 0;  
    position: absolute;
    top: 47%;
    left: 50%;
    background-color: rgb(98, 100, 121);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
    
}

.fieldBorder {
    border-width:10;       
    border-style: solid;   
    border-color: rgb(31, 101, 252);    
    border-radius: 10px;                                        
    padding: 550 400;                                                                           
    margin: 0;  
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
    
}

.borderLeft {
    border-width:10;       
    border-style: solid;   
    border-color: rgb(31, 101, 252);    
    border-top-left-radius: 10px;    
    border-bottom-left-radius: 20px;                           
    padding: 548 0;                                                                           
    margin: 0;  
    position: absolute;
    top: 47%;
    left: 18%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.borderRight {
    border-width:10;       
    border-style: solid;   
    border-color: rgb(31, 101, 252);    
    border-top-right-radius: 10px;      
    border-bottom-right-radius: 20px;                               
    padding: 548 0;                                                                           
    margin: 0;  
    position: absolute;
    top: 47%;
    left:82%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.borderUP{
    border-width:10;       
    border-style: solid;   
    border-color: rgb(31, 101, 252);    
    border-top-left-radius: 20px;       
    border-top-right-radius: 20px;                               
    padding: 0 409;                                                                           
    margin: 0;  
    position: absolute;
    top: 4%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.borderDown{
    border-width:10;       
    border-style: solid;   
    border-color: rgb(31, 101, 252);    
    border-bottom-left-radius: 20px;        
    border-bottom-right-radius: 20px;                               
    padding: 0 409;                                                                           
    margin: 0;  
    position: absolute;
    top: 89%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}