.bodyDark {
    padding: 0;
    margin: 0;
    background-color: #121317;
}

.bodyGameOver{
    padding: 0;
    margin: 0;
    background-color: #520000;
}

.gameOverText{
    padding: 40 1;
    color: #ff0000;
    background-color: #000000;
    font-size: 100;
    border: solid;
    border-width: 10;
    border-radius: 50px;
}

.headline{
    font-size:80;                                                                       
    margin: 0;
    position: absolute;
    top: 10%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.button0 {
    padding: 20 80;
    font-size: 30;
    border-radius: 240px;
    background-color: rgb(161, 89, 175);
    color: rgb(255, 255, 255);
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

.button1 {
    padding: 15 8;
    font-size:20;
    border-radius: 20px;
    background-color: rgb(202, 16, 16);
    color: rgb(255, 255, 255);
    border-width: 5px;
    border-color: rgb(255, 1, 1);
}

.button2 {
    padding: 20 150;
    font-size:20;
    border-radius: 20px;
    background-color: rgb(161, 89, 175);
    color: rgb(206, 206, 206);
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}
.position0 {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.position1 {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position2 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position4 {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position5 {
    margin: 0;
    position: absolute;
    top: 4%;
    left: 95%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position6 {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.position7 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}
